<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GARDENING</title>
  </head>
  <body>
    <main>
        <h1>Welcome to My Garden</h1>
        <p><img src="https://images.getfastr.com/5c/c5/5122dced4676b1e3a6cac2006e4a.jpg?im=UnsharpMask;Resize,width=768" alt="Squrki's Garden"></p>

        <a href="/"><button type="button">home</button></a>
        <a href="cooking"><button type="button">cooking</button></a>   
        <a href="sci-fi"></a><button type="button">sci-fi</button></a>
    </main>
	<script src="./static/main.js"></script>
  </body>
</html>