<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOME</title>
  </head>
  <body>
    <main>
        <h1>This is my avatar</h1>
        <p><img src="https://avatars.githubusercontent.com/u/96494390?v=4" alt="Developer: Squrki"></p>
        <h2>My developer handle is Squrki</h2>
        <a href="gardening"><button type="button">gardening</button></a>
        <a href="cooking"><button type="button">cooking</button></a>
        <a href="sci-fi"><button type="button">sci-fi</button></a>
    </main>
	<script src="./static/main.js"></script>
  </body>
</html>