<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SCI-FI</title>
  </head>
  <body>
    <main>
        <h1>Welcome to My Sci-Fi</h1>
        <p><img src="https://images.prismic.io/star-trek-untold/ZDUzZmNmYjEtNmU3Yi00NTE1LTlkMGYtODgzYzFhNTNiODM2_startrekuniverse2020.jpg?auto=compress,format&rect=0,0,2000,1080&w=2000&h=1080" alt="Squrki's Sci-Fi"></p>
        <a href="/"><button type="button">home</button></a>
        <a href="cooking"><button type="button">cooking</button></a>  
        <a href="gardening"></a><button type="button">gardening</button></a>
    </main>
	<script src="./static/main.js"></script>
  </body>
</html>